<ion-header>
  <ion-toolbar>
    <ion-title>{{ lugar?.titulo }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares" text="Regresar" color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-button slot="end" (click)="mostrarFormularioComentario()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" *ngIf="isAdmin" (click)="confirmarEliminacion()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img [src]="lugar?.imagen" />
  <ion-card-title>Comentarios</ion-card-title>
  <ion-item *ngFor="let comentario of lugar?.comentarios">
    <ion-label>
      <h2>{{ comentario.name }}</h2>
      <p>{{ comentario.comentario }}</p>
    </ion-label>

    <!-- Botón de puntos suspensivos que abre directamente editarComentario -->
    <ion-buttons slot="end" *ngIf="comentario.name === authenticatedUsername">
      <ion-button (click)="editarComentario(comentario)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/modificarlugar', lugar?.id]">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>